# Framework Web
Flask
Werkzeug
flask-sqlalchemy

# Requisições HTTP
requests
urllib3
certifi

# Manipulação de Datas
python-dateutil

# Utilitários
click
itsdangerous
Jinja2
MarkupSafe

# Ambiente de Desenvolvimento
python-dotenv

# Servidor WSGI
gunicorn